
<div class="container">
  <div class="col-md-3"></div>
  <div>
    <h2>{{ billDescrip }}</h2>
    <p>{{ billMessage }}</p>
    
    <div class="col-md-6">
      <table class="table">
          <thead>
            <tr class="row">
              <th class="col-7"></th>
              <th class="col-3"></th>
              <th class="col-2">Select</th>
            </tr>
          </thead>
          <ng-container class="text" style="display:unset" >
            <tr class="row" *ngFor="let billItem of billItems | async">
              <td class="col-7">
                {{ billItem.title }}
                <tr class="minor-text" *ngFor="let subtitle of billItem.subtitles">
                  {{ subtitle }}
                </tr>
              </td>
              <td class="col-3">{{ billItem.cost | currency:"USD"}}</td>
              <td class="col-2"><input class="billItemCheckbox" type="checkbox" [disabled]="billItem.mandatory" [checked]="billItem.mandatory" (change)="calcTotal()" value="{{ billItem.cost }}" name="{{ billItem.title }}"></td>
            </tr>
          </ng-container>
          <tr class="row">
            <td class="col-7">Total:</td>
            <td class="col-3"><a href="{{ paypalBaseUrl }}{{ totalStr }}">{{ total | currency:"USD" }}</a></td>
            <td class="col-2"><button type="button" class="btn btn-outline-secondary btn-sm" (click)="pay()"><a class="button-link" href="{{ paypalBaseUrl }}{{ totalStr }}">Pay</a></button></td>
          </tr>
        </table>
    </div>
    
    <br>
    <br>
    <button type="button" class="btn btn-outline-secondary btn-sm" (click)="showDetailedBreakdown=!showDetailedBreakdown">Show Details</button>
    <br>
    <div class="bill-details-container">
      <table class="table-sm" *ngIf="showDetailedBreakdown">
          <thead class="minor-text" style="text-align: center">Bill Details</thead>
          <tr>
            <td class="minor-text">Subtotal</td>
            <td class="minor-text">{{ subTotal | currency:"USD" }}</td>
          </tr>
          <tr>
            <td class="minor-text">Tax ({{ taxRate | percent:'1.0-2' }})</td>
            <td class="minor-text">{{ tax | currency:"USD" }}</td>
          </tr>
          <tr>
            <td class="minor-text">Tip ({{ tipRate | percent:'1.0-2' }})</td>
            <td class="minor-text">{{ tip | currency:"USD" }}</td>
          </tr>
          <tr>
            <td class="minor-text">Total</td>
            <td class="minor-text">{{ total | currency:"USD" }}</td>
          </tr>
      </table>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>

